*.iml
.gradle
/.gradle-user
/.android
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.tflite
studio_results_*.csv
success.mp3
app/release/
image.png
madeindia.png
